# Dart / Flutter
.dart_tool
.packages
build
doc/api

# Web
web/app

# Config / secrets
config/passwords.yaml
config/firebase_service_account_key.json
credentials.json
*.json.key
service-account*.json

# Git & tools
.git
.gitignore
.vscode
.idea

# Terraform
.terraform
*.tfstate
*.tfstate.*

# Fly
fly.toml
